In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
x = "John"
x = 'John'
print(x)

John

In [7]:
a = 4
A = "Sally"

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
#list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(fruits)

apple
banana
['apple', 'banana', 'cherry']

In [12]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry", 3, 5, 6, 'grapes')
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry', 3, 5, 6, 'grapes')

In [13]:
thisset = {"banana", "apple", "cherry", False, 1, 2}

print(thisset)

{False, 1, 2, 'banana', 'apple', 'cherry'}

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
x = "Python "
y = "is "
z = "awesome "
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = "John"
print(x, y)

5 John

In [18]:
import sys

print(sys.version)

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]

In [19]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 1:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [20]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [21]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [24]:
for x in range(7):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
Finally finished!

In [25]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [26]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome